<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <setting id="hide-homepage" type="bool" label="30100" default="false"/>
  <setting type="sep" />  
  <setting id="flatten-source-type" type="bool" label="30101" default="true"/>
  <setting id="flatten-megaupload" type="bool" label="30102" default="false"/>
  <setting type="sep" />
  <setting type="sep" />
  <setting id="account" type="enum" label="30103" values="None|Premium|Free" default="0"/>
  <setting id="freeuser" type="text" label="30104" default="" visible="eq(-1,2)"/>
  <setting id="freepass" type="text" label="30105" default="" visible="eq(-2,2)"/>
  <setting id="premiumuser" type="text" label="30106" default="" visible="eq(-3,1)"/>
  <setting id="premiumpass" type="text" label="30107" default="" visible="eq(-4,1)"/>
  <setting id="hide-successful-free-login-messages" type="bool" label="30108" default="false" visible="eq(-5,2)"/>
  <setting id="hide-successful-premium-login-messages" type="bool" label="30109" default="false" visible="eq(-6,1)"/>
</settings>

